<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <input type="number" v-model:value="rootOid">
        <dstobj :oid="rootOid" root></dstobj>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        Vue.component('dstobj', {
            props: {
                root: {
                    type: Boolean,
                    default: false
                },
                oid: {
                    type: Number,
                    required: true,
                },
                link: {
                    type: Number,
                    required: false
                },
                str: {
                    type: String,
                    required: false
                }
            },
            data: function() {
                return {
                    isExpanded: false,
                    empty: false,
                    inner: {}
                }
            },
            template: `
            <div class="parent">
                <div class="title" :class="rootClass">
                    <!--span class="expand-btn">{{ expandSymbol }}</span-->
                    <span class="oid-container">
                        <span class="oid" @click="toggle">{{ oid }}</span>
                    </span>
                    <span class="link">{{ link }} <i v-if="str">({{ str }})</i></span>
                </div>
                <div v-show="isExpanded" class="inner">
                    <div class="strings">
                        <div v-for="string in inner.strings">{{string}}</div>
                    </div>
                    <div class="objects">
                        <dstobj
                            v-for="obj in inner.objects"
                            :oid="obj.oid"
                            :link="obj.link"
                            :str="obj.str"
                        ></dstobj>
                    </div>
                    <span v-if="!empty && !inner.objects && !inner.strings">загрузка...</span>
                    <span v-if="empty" class="empty">пусто</span>
                </div>
            </div>
            `,
            methods: {
                toggle: function() {
                    this.isExpanded = !this.isExpanded;
                    if (this.isExpanded && !this.empty) {
                        console.log(this.oid);
                        axios.post("/api/", {"oid": this.oid})
                            .catch(error => console.log(error))
                            .then(response => {
                                const data = response.data;
                                console.log(data);
                                this.inner = data;
                                this.empty = !(this.inner.strings.length || this.inner.objects.length);
                            });
                    } else if (!this.isExpanded && this.root) {
                        this.inner = {};
                        this.empty = false;
                    }
                }
            },
            computed: {
                rootClass: function() {
                    return this.root ? "root" : "";
                },
                expandSymbol: function() {
                    return this.isExpanded ? "–" : "+";
                },
                descHref: function() {
                    return "http://127.0.0.1:8000/descriptor/" + this.link;
                }
            }
        });

        app = new Vue({
            el: '#app',
            data: {
                rootOid: 102068,
            }
        })
    </script>
</body>
</html>