<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <input type="text" v-model:value="rootOid" placeholder="paste the id...">
        <dst :root-oid="rootOid"></dst>
    </div>

    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <script>
        Vue.component('group', {
            props: {
                title: {
                    type: String,
                    required: true
                }
            },
            data: function() {
                return {
                    expanded: true
                }
            },
            template: `
            <div class="group">
                <div class="group-title" @click="toggle">
                    {{ title }} {{ expanded ? "-" : "+" }}
                </div>
                <div v-show="expanded" class="group-content">
                    <slot></slot>
                </div>
            </div>
            `,
            methods: {
                toggle: function() {
                    this.expanded = !this.expanded;
                }
            }
        });

        Vue.component('dst', {
            props: {
                rootOid: {
                    type: String,
                    required: false
                },
                data: {
                    type: Object,
                    required: false,
                    default: function() {return {}}
                }
            },
            data: function() {
                return {
                    expanded: false,
                    empty: -1,
                    innerGroups: {},
                    marked: false
                }
            },
            template: `
            <div v-show="rootOid == undefined || rootOid !== ''" class="parent">
                <div class="title" :class="markedClass">
                    <span v-if="isObj" @click="toggle" class="oid-container">
                        <div class="expand">
                            <span class="expand-symbol">{{ expandSymbol }}</span>
                        </div>
                        <span class="value oid">
                            {{ id }}
                        </span>
                    </span>
                    <span v-else class="value">
                        {{ data.value }}
                    </span>
                    <span v-if="!rootOid" class="link">
                        {{ data.link }}
                        <i v-if="data.str"
                           class="description" :title="data.str">
                           ({{ shortStr }})
                         </i>
                     </span>
                     <input v-if="!rootOid" type="checkbox" v-model:value="marked">
                </div>
                <div v-show="isExpanded" class="inner">
                    <group v-for="(group, type) in innerGroups" v-if="group.length" :title="type">
                        <dst
                            v-for="dst in group"
                            :data="dst"
                        ></dst>
                    </group>
                    <div v-if="isLoading" class="loading">загрузка...</div>
                    <div v-if="isEmpty" class="empty">пусто</div>
                </div>
            </div>
            `,
            methods: {
                updateExpanded: function(expanded) {
                    if (!this.isObj) return;
                    this.expanded = expanded;

                    if (this.expanded && this.empty === -1) {
                        console.log(this.oid);
                        axios.post("/api/", {"oid": this.id})
                            .catch(error => console.log(error))
                            .then(response => {
                                const data = response.data;
                                console.log(data);
                                this.innerGroups = data;
                                this.empty = 1;
                                for(type in this.innerGroups) {
                                    if (this.innerGroups[type].length !== 0) {
                                        this.empty = 0;
                                        break
                                    }
                                }
                                console.log(this.empty);
                            });
                    }
                    else if (!this.isExpanded && this.rootOid) {
                        this.innerGroups = {};
                        this.empty = -1;
                    }
                },
                toggle: function() {
                    this.updateExpanded(!this.expanded);
                }
            },
            watch: {
                rootOid: function(newRootOid) {
                    this.updateExpanded(false);
                    if (!newRootOid) return;
                    this.updateExpanded(true);
                }
            },
            computed: {
                markedClass: function() {
                    return this.marked ? "marked" : "";
                },
                expandSymbol: function() {
                    // return this.isExpanded ? "–" : "+";
                    return this.isExpanded ? "•" : "+";
                },
                id: function() {
                    return  this.data.oid || this.rootOid;
                },
                isObj: function() {
                    return this.id !== undefined;
                },
                isLoading: function() {
                    return this.isObj && this.empty === -1;
                },
                isEmpty: function() {
                    return this.isObj && this.empty === 1;
                },
                isExpanded: function() {
                    return this.isObj && this.expanded;
                },
                shortStr: function() {
                    return this.data.str.substr(0, 30) + (this.data.str.length > 30 ? "..." : "");
                }
            }
        });

        app = new Vue({
            el: '#app',
            data: {
                rootOid: ""
            }
        })
    </script>
</body>
</html>