.parent {

}

.root .oid {
    /*border: 2px dotted green;*/
    background: inherit;
}

.title {
    display: flex;
    align-items: center;
}

.value {
    margin-right: 6px;
    font-size: 18px;
    font-weight: bold
}

.oid-container {
    width: 80px;
}

.oid {
    border-bottom: 1px dotted blue;
    cursor: pointer;
}

.link {
    margin-right: 6px;
    font-size: 16px;
    color: initial;
    text-decoration: none;
}

.description {
    cursor: pointer;
    text-decoration: underline;
}

.oid:hover {
    background-color: #333;
    color: wheat;
    /*background: burlywood;*/
}

.inner {
    margin-left: 25px;
}

.empty {
    font-style: italic;
    text-decoration: line-through;
}

.group {
    margin: 5px 0;
    /*border: 1px solid gray;*/
    padding: 8px;
    padding-top: 0px;
    border-radius: 4px;
}