.parent {
    margin: 6px 0;
}

.title {
    display: flex;
    align-items: center;
}

.marked {
    background: lightblue;
}

.value {
    margin-right: 6px;
    font-size: 18px;
    font-weight: bold
}

.oid-container {
    width: 100px;
}

.oid {
    border-bottom: 1px dotted blue;
    cursor: pointer;
}

.expand {
    background: #b8b8b8;
    /* padding: 0 6px; */
    border-radius: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: relative;
    /* margin-right: 0; */
    display: inline-block;
}

.expand-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    margin-right: 6px;
    font-size: 16px;
    color: initial;
    text-decoration: none;
}

.description {
    cursor: default;
    text-decoration: underline;
}

.oid:hover {
    background-color: #333;
    color: wheat;
    /*background: burlywood;*/
}

.inner {
    margin-left: 25px;
    border-left: 2px dotted gray;
    padding-left: 4px;
}

.empty {
    font-style: italic;
    text-decoration: line-through;
}

.loading, .empty {
    margin-top: 5px;
}

.group-title {
    background: #ddd;
    text-decoration: underline;
    cursor: pointer;
}


.group-title:hover {
    color: gray;
}

.group {
    margin: 5px 0;
    /*border: 1px solid gray;*/
    padding: 0 8px 8px;
    border-radius: 4px;
}